@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("Images/wp3982181.jpg");
    background-size: cover;
    background-color: rgb(12, 124, 223);
    min-height: 100vh;
    background-attachment: fixed;
}


.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    text-decoration: none;
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 20px;
    color: white;
}

.navbar a{
    position: relative;
    font-size: 20px;
    font-family: "Faculty Glyphic", sans-serif;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: .3s;;
}

.navbar a:hover::before{
    width: 100%;
}

h1{
    color: white;
}

p{
    color: white;
}

@keyframes slideInRight{
    from{
        transform: translateX(20%);
    }

    to{
        transform: translateY(0px);
    }
}

.container{
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-right: 9%;
    min-height: fit-content;
    left: 50%;
    animation: slideInRight 0.5s ease-in 0s 1 normal;
    float: left;
    position: absolute;
    top: 25%;
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 10px;
    padding-bottom: 10px;
    max-width: 100vh;
}

.container:hover{
    box-shadow: 15px 15px 3px rgba(39, 39, 39, 0.548);
    transform: translateY(2px);
}

#aboutMeHeading{
    font-family: "Faculty Glyphic", sans-serif;
    margin: 0 auto;
    color:white;
    font-size: 40px;
    margin-bottom: 10px;
}
#aboutMe{
    font-family: "Faculty Glyphic", sans-serif;
    align-items: center;
    display: contents;
    margin: 0 auto;
    padding-top: 10px;
    left: 50%;
    top: 50%;
    color: white;
    padding: 10%;
    font-size: 20px;
}

#linkToProjects{
    color: white;
}

#linkToProjects:hover{
    color: purple
}

.awardsContainer{
    background-color: rgba(0, 0, 0, 0.616);
    display: block;
    position: absolute;
    top: 55%;
    padding: 10px;
    margin: 20px 50px;
    max-width: 40%;
    min-width: fit-content;
    max-width: 100vh;
    border-radius: 5px;
    animation: slideInLeft 0.5s ease-in 0s 1 normal;
}

.awardsContainer:hover{
    box-shadow: 15px 15px 3px rgba(39, 39, 39, 0.548);
    transform: translateY(2px);
}

#awardsHeading{
    padding-bottom: 5px;
    font-size: 40px;
}

#awardsDescription{
    color: white;
    margin: 5px 16px;
    font-size: 18px;
    padding: 1px;
}

#awardsDescription li{
    margin-bottom: 8px;
}

.funFactsContainer{
    background-color: rgba(0, 0, 0, 0.616);
    display: block;
    position: absolute;
    top: 55vh;
    padding: 10px;
    margin: 20px 50px;
    min-width: 30vw;
    max-width: 100vh;
    height: 36%;
    max-height: 100vh;
    border-radius: 5px;
    margin-left: 55%;
    animation: slideInRight 0.5s ease-in 0s 1 normal;
}

.funFactsContainer:hover{
    box-shadow: 15px 15px 3px rgba(39, 39, 39, 0.548);
    transform: translateY(2px);
}

#funFactsList li{
    color: white;
    margin: 5px 16px;
    font-size: 18px;
    padding: 1px;
}

#profile{
    width: 400px;
    height: 460px;
    margin-left: 20%;
    margin-top: 6vh;
    animation: slideInLeft 0.5s ease-in 0s 1 normal;
}

@keyframes slideInLeft {
    from{
        transform: translateX(-200px);
    }
    
    to{
        transform: translateX(0px);
    }
}