@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Protest+Revolution&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("Images/mountains-minimal-landscape-4k-5b.jpg");
    background-size: cover;
    min-height: 100vh;
}


